.link-pos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
.link-pos > a{
    padding: 10px;
    font-family: sans-serif;
    font-size: 15px;
    color: silver;
    text-decoration: none;
}

.link-pos > a:hover{
    color:black;
}
body, html{
    height: 90%;
    width: 98%;
}

#search{
    height: 90%;
    display: grid;
}

#data{
    margin: auto;
    text-align: center;
}

#im-txt{
    width: 80%;
    padding: 0px;
    margin: 0px;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: blue;
}

input, button{
    padding: 5px;
    margin: 10px;
    border-radius: 20px;
    border: none;
    background-color:white;
    outline: none;
    box-shadow: 2px 2px 5px grey;
}
#search-bar{
    width: 400px;
    height: 35px;
    background-position: 10px, 10px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/20px-Vector_search_icon.svg.png');
    background-repeat: no-repeat;
    padding-left: 40px;
    font-family: sans-serif;
    font-size: 20px;
}

.submit{
    width: 110px;
    height: 45px;
    font-family: sans-serif;
    color: grey;
}

.submit:hover{
    color: black;
    border: solid 1px;
    border-color: grey;
}

#img-link{
    background-color: lightgray;
    flex-direction: row;
    padding: 10px;

}

.advanced{
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.ad-h3{
    color: darkred;
    border-bottom: solid 1px gray;
    padding: inherit;
    margin-bottom: 40px;
    font-size: 18px;
    font-family: inherit;
}

.ad-p{
    font-size: 16px;
    padding-left: 40px;
    font-family: inherit;

}

label{
    font-size: 14px;
    padding-left: 40px;
    font-family: inherit;
}

#advanced-bar{
    width: 60%;
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-columns: 40% auto;
}

#advanced-bar > input{
    box-shadow: none;
    border: solid 1px grey;
    border-radius: 4px;
    margin: 0px;
}

#advanced-bar > input:focus{
    border-color: blue;
    box-shadow: 3px 2px 4px 1px lightgrey;
}

#ad-sub{
    color: white;
    font-weight: bold;
    background-color: blue;
    box-shadow: none;
    border-radius: 4px;
    margin: 0px;
}

#ad-sub:hover{
    border: solid 1px grey;
}

@media (max-width: 800px){
    #search-bar{
        width: 300px;
    }
    .advanced{
        padding: 10px;
    }

    #advanced-bar{
        width: 80%;
        grid-template-columns: 50% auto;
        grid-row-gap: 10px;
        grid-column-gap: 10px;
    }

    label, .ad-p{
        padding-left: 10px;
    }
}